<% @links.each do |link| %>
  <%= link_to "#", data: {toggle: "modal", target: "#link-modal#{link.id}"} do %>
  <%= image_tag link.photo.url(:thumb) %>
<% end %>



  <div class="modal fade" id="link-modal<%= link.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">


      <div id="link-form">

      <div id="link-url"> <%= link.url %> </div>
        <br />  <br />

        <%= image_tag link.photo.url(:large) %>
        <br />  <br />

        <div id="link-notes"><%= link.notes %></div>

        </div>

      </div>
    </div>
  </div>

<% end %>
